[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.11'

[packages]
pytesseract = "==0.3.10"
pdf2image = "==1.16.3"
boto3 = "*"
nltk = "==3.8.1"
scikit-learn = "==1.2.2"
pymongo = "==4.3.3"
psycopg2 = "==2.9.6"
sqlalchemy = "==2.0.9"
python-dotenv = "*"
"httpx" = "*"

[dev-packages]
autopep8 = "*"